<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增数据</title>
</head>
<body>
    <h1>新增数据</h1>
    <form method="post">
        <label for="日期">日期:</label>
        <input type="text" name="日期"><br>
        <label for="压力高度">压力高度:</label>
        <input type="text" name="压力高度"><br>
        <label for="最高板">最高板:</label>
        <input type="text" name="最高板"><br>

        <label for="上涨比率">上涨比率:</label>
        <input type="text" name="上涨比率"><br>



        <label for="大面数">大面数:</label>
        <input type="text" name="大面数"><br>

        <label for="每日涨停数">每日涨停数:</label>
        <input type="text" name="每日涨停数"><br>


        <label for="连板数">连板数:</label>
        <input type="text" name="连板数"><br>

        <label for="其他">其他:</label>
        <input type="text" name="其他"><br>

        <label for="每日交易量">每日交易量:</label>
        <input type="text" name="每日交易量"><br>

        <label for="其他2">其他2:</label>
        <input type="text" name="其他2"><br>

        <button type="submit">保存</button>
    </form>
    <h2> 返回首页</h2>
    <a href="{{ url_for('index') }}">返回首页</a>
</body>
</html>
