<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Editor</title>
        <style>        .ratio-low {
            color: red;
            font-weight: bold;
        }
        .zero-value {
            font-weight: bold;
            color: black;
            font-size: 1.2em;
        }
    </style>
</head>
<body>

    <a href="{{ url_for('qingxu') }}"  target="_blank">折线图</a>

        <h1>CSV 数据编辑器</h1>
    <a href="{{ url_for('add') }}">新增数据</a>

    <table border="1">
        <tr>
            <th>日期</th>
            <th>每日涨停数</th>
            <th>每日交易量</th>
            <th>上涨比率</th>
            <th>连板数</th>
            <th>最高板</th>
            <th>大面数</th>
            <th>其他</th>
            <th>压力高度</th>
            <th>跌停数量</th>
            <th>涨停数量</th> <!-- 新增的涨停数量列 -->
            <th>封板率</th> <!-- 新增的封板率列 -->
            <th>涨停打开</th> <!-- 新增的涨停打开列 -->
            <th>备注</th> <!-- 新增的备注列 -->
            <th>操作</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['日期'] }}</td>
            <td>{{ row['每日涨停数'] }}</td>
            <td>{{ row['每日交易量'] }}</td>

            <td {% if row['上涨比率']|float >= 1 and row['上涨比率']|float <= 25 %}class="ratio-low"{% endif %}>
                {{ row['上涨比率'] }}
            </td>
            <td>{{ row['连板数'] }}</td>
            <td>{{ row['最高板'] }}</td>
            <td>{{ row['大面数'] }}</td>
            <td>{{ row['其他'] }}</td>
            <td>{{ row['压力高度'] }}</td>

            <td {% if row['跌停数量'] == 0 %}class="zero-value"{% endif %}>
                {{ row['跌停数量'] }}
            </td>

            <td>{{ row['涨停数量'] }}</td> <!-- 新增的涨停数量数据 -->

            <td {% if row['封板率']|float >= 79 %}class="zero-value"{% endif %}>
                {{ row['封板率'] }}%
            </td>

            <td>{{ row['涨停打开'] }}</td> <!-- 新增的涨停打开数据 -->
            <td>{{ row['备注'] }}</td> <!-- 新增的备注数据 -->
            <td><a href="{{ url_for('edit', id=loop.index0) }}">编辑</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
