<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV Editor</title>
</head>
<body>

    <a href="{{ url_for('qingxu') }}"  target="_blank">折线图</a>

        <h1>CSV 数据编辑器</h1>
    <a href="{{ url_for('add') }}">新增数据</a>

    <table border="1">
        <tr>
            <th>日期</th>
            <th>每日涨停数</th>
            <th>每日交易量</th>
            <th>上涨比率</th>
            <th>连板数</th>
            <th>最高板</th>
            <th>大面数</th>
            <th>其他</th>
            <th>操作</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row['日期'] }}</td>
            <td>{{ row['每日涨停数'] }}</td>
            <td>{{ row['每日交易量'] }}</td>
            <td>{{ row['上涨比率'] }}</td>
            <td>{{ row['连板数'] }}</td>
            <td>{{ row['最高板'] }}</td>
            <td>{{ row['大面数'] }}</td>
            <td>{{ row['其他'] }}</td>
            <td><a href="{{ url_for('edit', id=loop.index0) }}">编辑</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
